doctype html
html(lang ="en")
  head
    title="Express Countries!"
  body
    div
      h1
        |Express Countries
      ul
        li=name
        li=code
        li=population
        li=region
        li=flag
      img(src=flag width="50%" height="50%")
