doctype html
html(lang ="en")
  head
    title="Express Countries!"
  body
    div
      h1
        |Express Countries
      ul
        li Name: #{name}
        li Code: #{code}
        li Population: #{population}
        li Region: #{region}
        li Flag: #{flag}
      img(src=flag width="50%" height="50%")
